# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Dataset files 
datasets/*/
datasets/*
# Results (optional)
results/*/
results*/*
bpmaievaluationfull/*
bpmaievaluationfull_resultsfiles/*
bpmaisample/*
bpmaisample_resultsfiles/*
casestudyllm/*
casestudyrule/*
FBPM/*
_*
